name: E2E Tests

on: [push, pull_request]

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Install Ginkgo
        run: go install github.com/onsi/ginkgo/v2/ginkgo@v2.28.1

      - name: Download dependencies
        run: go mod download

      - name: Start app
        run: |
          go run main.go &
          echo "Waiting for server..."
          sleep 5

      - name: Run E2E tests
        run: |
          ginkgo run -v ./e2e
